/*---------*/
/* General */
/*---------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Bar */
    --default-bar-height: 100px;
    --small-bar-height: 70px;
    /* Padding */
    --xxsmall-padding: .125rem;
    --xsmall-padding: .25rem;
    --small-padding: .5rem;
    --default-padding: 1rem;
    --large-padding: 1.5rem;
    --xlarge-padding: 2rem;
    /* Text */
    --xsmall-text: 6px;
    --small-text: 8px;
    --default-text: 10px;
    --large-text: 12px;
    --xlarge-text: 14px;
}


/*------*/
/* Flex */
/*------*/

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}

.no-shrink {
    flex-shrink: 0;
}

.center-y-align {
    align-items: center;
}

.center-x-align {
    justify-content: center;
}

.right-x-align {
    justify-content: flex-end;
}

.left-x-align {
    justify-content: flex-start;
}


/*-----------*/
/* Utilities */
/*-----------*/

.overflow-y {
    overflow: auto;
}

.hidden {
    display: none;
}

.rounded {
    border-radius: 50%;
    overflow: hidden;
}

.row {
    gap: 10px;
}

.col {
    flex-basis: calc(100% / 6);
}


/*------------*/
/* Containers */
/*------------*/

/* General */

.app-container {
    width: 100%;
    height: 100vh;
}

.main-wrapper {
    /* Debug */
    background-color: azure;
}

/* Sidebar */

.sidebar-container {
    width: 175px;
    padding: var(--default-padding);
    background-color: #000000;
}

.sidebar-logo-container {
    padding-top: var(--xxsmall-padding);
    padding-bottom: var(--small-padding);
}

.sidebar-buttons-container {
    padding-top: var(--default-padding);
    padding-bottom: var(--default-padding);
}

.sidebar-playlist-container {
    padding-top: var(--default-padding);
    padding-bottom: var(--large-padding);
}

.sidebar-account-container {
    padding-top: var(--default-padding);
}

/* Playlist */

.upgrade-bar-container {
    height: var(--small-bar-height);
    padding: var(--default-padding);
    background-color: #070B12;
}

.playlist-container {
    background-color: #141922;
    padding: var(--default-padding);
}

.recently-played-container,
.created-for-container,
.popular-artists-container,
.playlist-tab-container {
    margin-bottom: var(--xlarge-padding);
}

/* Control bar */

.control-bar-container {
    height: var(--small-bar-height);
    padding: var(--small-padding);
    background-color: #282828;
    justify-content: space-between;
    gap: 20px;
}

.volume-controller-container,
.playing-now-container {
    width: 160px;
    gap: 7px;
}

.song-controller-container {
    width: 400px;
}


/*----------*/
/* Sections */
/*----------*/

/* Sidebar */

.sidebar-logo-container img {
    width: 100px;
}

.sidebar-playlist-title,
.crea-playlist {
    margin-bottom: var(--default-padding);
}

.sidebar-divider {
    border-bottom: 1px solid var(--color-gray);
    margin-top: var(--default-padding);
    margin-bottom: var(--default-padding);
}

.playlist-list {
    height: 100%;
}

/* Playlist */

.playlist-info {
    margin-bottom: var(--default-padding);
}

/* Control bar */

.playing-now-cover,
.playing-now-controls {
    flex-basis: 20%;
}

.playing-now-controls {
    font-size: var(--large-text);
    gap: 10px;
    text-decoration: none;
    color: var(--color-gray);
}

.playing-now-cover img {
    width: 100%;
}

.volume-controller-icons {
    font-size: var(--large-text);
    gap: 13px;
    text-decoration: none;
}

.volume-controller-bar-wrapper {
    position: relative;
    width: 100%;
}

.song-controls {
    width: 150px;
    height: 50%;
    margin: 0 auto;
    justify-content: space-around;
    font-size: var(--large-text);
}

.song-controls .play-button {
    font-size: calc(var(--xlarge-text) + 7px);
    text-decoration: none;
}

.song-status {
    height: 50%;
}

.song-time {
    position: relative;
    min-width: 35px;
    font-size: var(--small-text);
    font-weight: 500;
}