/*---------*/
/* General */
/*---------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --default-bar-height: 100px;
    --small-bar-height: 75px;
    --xxsmall-padding: .125rem;
    --xsmall-padding: .25rem;
    --small-padding: .5rem;
    --default-padding: 1rem;
    --large-padding: 1.5rem;
}


/*------*/
/* Flex */
/*------*/

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}

.no-shrink {
    flex-shrink: 0;
}

.center-y-align {
    align-items: center;
}

.center-x-align {
    justify-content: center;
}

.right-x-align {
    justify-content: flex-end;
}

.left-x-align {
    justify-content: flex-start;
}


/*----------*/
/* Overflow */
/*----------*/

.overflow-y {
    overflow: auto;
}


/*------------*/
/* Containers */
/*------------*/

/* General */

.app-container {
    width: 100%;
    height: 100vh;
}

.main-wrapper {
    /* Debug */
    background-color: azure;
}

/* Sidebar */

.sidebar-container {
    width: 250px;
    padding: var(--default-padding);
    background-color: #000000;
}

.sidebar-logo-container {
    padding-top: var(--xxsmall-padding);
    padding-bottom: var(--small-padding);
}

.sidebar-buttons-container {
    padding-top: var(--default-padding);
    padding-bottom: var(--default-padding);
}

.sidebar-playlist-container {
    padding-top: var(--default-padding);
    padding-bottom: var(--default-padding);
}

.sidebar-account-container {
    padding-top: var(--default-padding);
}

/* Playlist */

.upgrade-bar-container {
    height: var(--small-bar-height);
    padding: var(--default-padding);
    background-color: #070B12;
}

.playlist-container {
    background-color: #141922;
    padding: var(--default-padding);
}

.playlist-tab-container {
    margin-bottom: var(--large-padding);
    /* Debug */
    height: 10px;
    border: 1px dashed red;
}

.recently-played-container,
.created-for-container,
.popular-artists-container {
    margin-bottom: var(--large-padding);
    /* Debug */
    height: 300px;
    border: 1px dashed red;
}

/* Control bar */

.control-bar-container {
    height: var(--default-bar-height);
    padding: var(--small-padding);
    background-color: #282828;
    justify-content: space-between;
}

.volume-controller-container,
.playing-now-container {
    width: 200px;
    /* Debug */
    border: 1px dashed red;
}

.song-controller-container {
    width: 600px;
    /* Debug */
    border: 1px dashed red;
}


/*----------*/
/* Sections */
/*----------*/

/* Sidebar */

.sidebar-logo-container img {
    width: 150px;
}

.sidebar-playlist-title,
.crea-playlist {
    margin-bottom: var(--default-padding);
}

.sidebar-divider {
    border-bottom: 1px solid var(--color-gray);
    margin-top: var(--default-padding);
    margin-bottom: var(--default-padding);
}