/*---------*/
/* General */
/*---------*/

* {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color-gray: #7E7E7E;
}


/*--------*/
/* Colors */
/*--------*/

.color-white {
    color: white;
}

.color-gray {
    color: var(--color-gray);
}

.color-gray-svg {
    filter: invert(49%) sepia(0%) saturate(1003%) hue-rotate(165deg) brightness(85%) contrast(92%);
}


/*------------*/
/* Typography */
/*------------*/

h6 {
    font-size: 10px;
    line-height: 20px;
    text-transform: uppercase;
}

.title-large {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: var(--xsmall-padding);
}

.title {
    font-size: 18px;
    font-weight: 600;
}

.subtitle {
    font-size: var(--default-text);
    line-height: 15px;
    letter-spacing: .3px;
    font-weight: 600;
}

.subtitle-small {
    font-size: var(--small-text);
    font-weight: 600;
    letter-spacing: .3px;
    line-height: 12px;
}