/*---------*/
/* General */
/*---------*/

* {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color-gray: #7E7E7E;
}


/*--------*/
/* Colors */
/*--------*/

.color-white {
    color: white;
}

.color-gray {
    color: var(--color-gray);
}

.color-gray-svg {
    filter: invert(49%) sepia(0%) saturate(1003%) hue-rotate(165deg) brightness(85%) contrast(92%);
}


/*------------*/
/* Typography */
/*------------*/

h6 {
    font-size: 10px;
    text-transform: uppercase;
}

.subtitle {
    font-size: var(--small-text);
    line-height: 15px;
    font-weight: 600;
}

.subtitle-small {
    font-size: var(--xsmall-text);
    line-height: 12px;
}